@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Bacon ipsum dolor sit amet pastrami ribeye short loin pork loin. Kielbasa ribeye meatball jerky cow ball tip chuck rump boudin. Hamburger fatback tri-tip beef. Ribeye boudin chicken pork belly brisket frankfurter jerky turkey short ribs pastrami landjaeger sirloin chuck hamburger. Chicken venison chuck, salami short ribs kielbasa tenderloin beef ribs prosciutto pork loin ham hock pork. Hamburger drumstick beef ribs filet mignon boudin, shankle fatback doner shoulder. Swine leberkas shoulder jowl, fatback corned beef hamburger short ribs ball tip ground round short loin.

Chicken jerky shoulder turducken shankle. Porchetta leberkas andouille strip steak jowl, prosciutto brisket pork chop ground round shoulder filet mignon corned beef hamburger capicola. Venison ham hock filet mignon, jowl ground round shank shankle pork belly sirloin boudin jerky ham. Porchetta tail meatloaf salami sausage shank. Venison rump shank, hamburger ham spare ribs pig pork belly ham hock tenderloin shoulder flank.</p>
