@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pet Store</h1>
    <p> bacon ipsum dolor sit amet andouille boudin shoulder exercitation. biltong cupidatat anim nulla. fugiat drumstick leberkas, meatloaf brisket reprehenderit nulla biltong id. ex shank pork chop pancetta laboris nulla, bresaola velit consectetur bacon proident t-bone adipisicing occaecat.
       do shoulder laborum ut frankfurter. ut frankfurter enim ullamco beef chicken. brisket short loin consectetur anim frankfurter veniam. laborum turducken pork chop nostrud consectetur ham hock.
       ut ut tempor boudin ea jerky, pastrami venison anim in pork chop aliquip veniam. pork belly in laborum fatback dolore proident velit landjaeger. cupidatat et turducken commodo in sirloin. adipisicing eiusmod pork capicola in anim pariatur. eiusmod labore quis, nisi consequat velit sed turducken commodo. do tongue voluptate hamburger cupidatat doner frankfurter in kielbasa. shoulder dolore biltong ut shank spare ribs cow esse tongue pork loin veniam pork chop ground round pastrami salami.
       meatball minim landjaeger ex enim tongue, ea doner. tail fatback tenderloin, nulla bacon turkey anim velit boudin. tenderloin shank landjaeger pariatur turkey fugiat, sirloin fatback pig. sausage elit ex veniam deserunt qui meatball drumstick mollit pork chop cillum kielbasa occaecat tenderloin eu. tri-tip minim landjaeger ut bacon tongue jowl ex nulla. reprehenderit consequat sed et doner, dolore jowl hamburger boudin frankfurter irure jerky voluptate excepteur filet mignon. pork belly tail pig elit, fugiat pastrami meatball nisi officia flank adipisicing enim.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Static Content</h2>
        <p>
            Meatloaf biltong prosciutto beef strip steak capicola, ribeye beef ribs turducken spare ribs short ribs tongue. Pig pork belly meatloaf, shankle chicken beef boudin drumstick meatball ham. Chuck porchetta corned beef beef swine shank ham hock pork chop prosciutto tenderloin pork belly andouille sausage. Beef ground round jerky chuck cow pork loin porchetta ham boudin andouille. Meatball t-bone shoulder, turducken fatback shank kevin boudin pork sirloin corned beef bacon. Short ribs landjaeger capicola strip steak ground round leberkas rump.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Static Content</h2>
        <p>Ribeye chicken shoulder, cow pork loin t-bone doner turducken pastrami. Turducken tail shoulder rump strip steak hamburger andouille tri-tip. Meatball frankfurter shank tongue, corned beef shoulder tri-tip flank. Meatball bresaola turkey turducken biltong pig. Kevin jerky ribeye filet mignon, t-bone tenderloin pork belly bacon landjaeger shankle.</p>
    </div>
    <div class="col-md-4">
        <h2>Static Content</h2>
        <p>Beef cow spare ribs biltong pork belly. Kielbasa chicken capicola pork chop corned beef. Meatball spare ribs porchetta, chuck ham hock flank sausage kielbasa doner sirloin andouille ham. Pork chop spare ribs turkey hamburger leberkas frankfurter sausage. Prosciutto shankle filet mignon brisket. Kielbasa pork swine short loin short ribs, porchetta rump.</p>
    </div>
</div>