#body
{

}
#head1
{

}
#navBar
{
	list-style-type: none;
	display: inline;
}
#head2
{

}
.pGraph
{

}
#sideBar
{

}
#head3
{

}
.listItem1
{
	list-style-type: none;
	display: inline;
}
.listItem2
{
	
}